<div class="broadcast" id="broadcast">

  <%= form_for [user, user.tweets.build], html: { class: 'form clearfix' }, remote: true do |form| %>

    <fieldset>
      <%= form.text_area :content, placeholder: 'Do you want to nttr?', maxlength: 140, class: 'broadcast__content form--input display--block vmargin--half', tabindex: 1 %>
    </fieldset>

    <fieldset>
      <%-# Tweet length counter. %>
      <span class="form__span broadcast__counter float--left disp--none">0</span>
      <%= form.submit 'nttr', class: 'button button--submit form--submit float--right', tabindex: 2 %>
    </fieldset>
  <% end %>
</div>
