<div class="tweet-form" id="tweet-form">
  <%-# TODO: Form errors. How do I define the tweet object here? %>
  <%= form_for [user, user.tweets.build], remote: true do |form| %>
    <p class="create__textarea vspace--half">
      <%= form.text_area :content, placeholder: 'Do you want to nttr?', maxlength: 140, class: 'create__content', tabindex: 1 %>
    </p>
    <p class="create__submit clearfix">
      <span class="create__counter float--left disp--none">0</span>
      <span class="float--right"><%= form.submit 'nttr', class: 'create__button' %></span>
    </p>
  <% end %>
</div>
