<%-# Twitter default is to show either your tweets, or the register and login forms. %>
<% if current_user %>
  <%-# Fetch all tweets + tweet-form if logged in. %>
  <div class="tweets" id="tweets">
    <%= render partial: 'tweets/broadcast', locals: { user: @user, tweet: @user.tweets.build } %>
    <div class="tweet-list">
      <%= render partial: 'tweets/tweet', collection: Tweet.includes(:user).order('created_at desc').all %>
    </div>
  </div>
<% else %>
    <%= render partial: 'users/welcome' %>
<% end %>
