<%-# Twitter default is to show either your tweets, or the register and login forms. %>
<% if current_user %>
  <%-# Fetch all tweets + tweet-form if logged in. %>
  <div class="tweets row" id="tweets">
    <div class="tweets-broadcast col-md-4 col-sm-12">
      <%= render partial: 'tweets/broadcast', locals: { user: @user, tweet: @user.tweets.build } %>
    </div>
    <div class="tweets-wrap border-left col-md-8 col-sm-12">
      <h1 class="vmargin-full border-bottom tweets-headline">Nttrs</h1>
      <div class="tweets-list">
        <%= render partial: 'tweets/tweet', collection: Tweet.includes(:user).order('created_at desc').all %>
      </div>
    </div>
  </div>
<% else %>
    <%= render partial: 'users/welcome' %>
<% end %>
