<div class="user" id="user--<%= user.id %>">
  <div class="user__name">
    <%= content_tag :span, user.email, class: 'user__email' %>
    <%= content_tag :span, user.login, class: 'user__name' %>
  </div>
  <div class="user__email">
  </div>
</div>
