@import 'variables';

.display {
    &-block {
        display: block;
        width: 100%;
    }

    &-inline-block {
        display: inline-block;
    }

    &-inline {
        display: inline;
    }

    &-none {
        display: none;
    }
}

.vmargin {
    &-none {
        margin-bottom: 0;
    }

    &-full {
        margin-bottom: $vmargin;
    }

    &-half {
        margin-bottom: $vmargin * 0.5;
    }

    &-quarter {
        margin-bottom: $vmargin * 0.25;
    }

    &-double {
        margin-bottom: $vmargin * 2;
    }
}

.vpadding {
    &-none {
        padding-bottom: 0;
    }

    &-full {
        padding-bottom: $vpadding;
    }

    &-half {
        padding-bottom: $vpadding * 0.5;
    }

    &-quarter {
        padding-bottom: $vpadding * 0.25;
    }

    &-double {
        padding-bottom: $vpadding * 2;
    }
}

.vcenter {
    position: relative;
    top: 20vh;
}

.text {
    &-white {
        color: #fff;
    }

    &-black {
        color: #000;
    }
}

.border { 
    border: 1px solid $btn-default-border;

    &-top {
        border-top: 1px solid $btn-default-border;
    }

    &-right {
        border-right: 1px solid $btn-default-border;
    }

    &-bottom {
        border-bottom: 1px solid $btn-default-border;
    }

    &-left {
        border-left: 1px solid $btn-default-border;
    }
}

.background {
    &-white {
        background-color: #fff;
    }

    &-light {
        font-weight: normal;
    }

    &-bold {
        font-weight: bold;
    }

    &-small {
        font-size: 75%;
    }

    &-error {
        color: palette(error);
    }
}
