@import 'variables';

// 
// Main Container
//

.nttr {
    box-sizing: border-box;
    // There rules are to ensure that vertically centered forms remain inside the element.
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
