@import 'variables';

// 
// Tweets List
//

.tweets {
    margin: 0 auto;

    @media screen and (max-width: $screen-md-min) {
        box-sizing: border-box;
        margin: 5%;
    }

    &-headline {
        padding: $vmargin * 2 $vmargin; 
    }

    &-wrap {
        @media screen and (max-width: $screen-md-min) {
            border: none;
        }
    }

    &-broadcast {
    }
}

// 
// Tweet Messages
//

.tweet {
    box-sizing: border-box;
    padding: $vpadding;

    &:not(:first-child) {
        border-top: solid 0.1rem #ddd;
    }

    &:hover {
        background-color: #f7f7f7;
    }

    &-photo {
        width: $tweet-photo-width;
    }

    &-wrap {
        // Wraps rightside content.
        width: calc(100% - #{$tweet-photo-width} - #{$vmargin});
    }

    &-profile-link {
        &:after {
            // '&nbsp;&nbsp'
            content: '\00a0';
        }
    }

    &-datetime {
        padding-left: 0.1rem;

        &:before {
            // ' ·'
            // content: '\0020\00B7';
        }
    }
}
