@import 'variables';

.tweets {
    margin: 0 auto;

    @media screen and (max-width: $screen-md-min) {
        box-sizing: border-box;
        margin: 5%;
    }
}

.tweet {
    box-sizing: border-box;
    padding: 1rem;

    &:not(:first-child) {
        border-top: solid 0.1rem #ddd;
    }

    &:hover {
        background-color: #f7f7f7;
    }

    &-photo {
        width: 50px;
    }

    &-wrap {
        // Wraps rightside content.
        width: calc(100% - 50px - #{$vmargin})
    }

    &-datetime {
        padding-left: 0.1rem;

        &:before {
            // ' ·'
            // content: '\0020\00B7';
        }
    }
}

.broadcast {
    box-sizing: border-box;
    padding: 1rem;

}
