//
// Default Margin and Padding Values
//

$vmargin: 1rem;
$vpadding: 1rem;

//
// Login Form Submit Button
// It's floated to one side.
//

$login-submit-width: 70px;

//
// Tweets
//

$tweet-photo-width: 50px;

// 
// Colours Palette
//

$palette: (
    error: (
        base: #d32f2f,
    ),
);

//
// Retrive Colour from Palette
//

@function palette($color, $tone: 'base') {
  @return map-get(map-get($palette, $color), $tone);
}

//
// Vertically Center Element
//

@mixin vcenter($x, $y) {
    @media screen and (min-width: $screen-md-min) {
        left: $x;
        position: absolute;
        top: $y;
        transform: translate(-$x, -$y);
    }
}
