$vmargin: 1rem;

$palette: (
    error: (
        base: #d32f2f,
    ),
    background: (
        base: #ebebeb,
    )
);

@function palette($color, $tone: 'base') {
  @return map-get(map-get($palette, $color), $tone);
}

@mixin vcenter($x, $y) {
    @media screen and (min-width: $screen-sm-min) {
        left: $x;
        position: absolute;
        top: $y;
        transform: translate(-$x, -$y);
    }
}
