//
// Colours
// I scalped some code of mine to manage paletted.
// https://github.com/bhalash/scss-helpers/blob/master/_colours.scss
//

$colors: (
    blue: (
        x-light: #eaf2ff,
        light: #b3ccfa,
        base: #87adf4,
        dark: #6292e9,
        x-dark: #4075d7,
    ),
    red: (
        x-light: #d95151,
        light: #fea9a9,
        base: #ea7575,
        dark: #d33939,
        x-dark: #cd1c1c,
    ),
    grey: (
        // Approximate!
        x-light: #fff,
        light: #ccc,
        base: #7f7f7f,
        dark: #333,
        x-dark: #000,
    )
);

@function palette($color, $tone: 'base') {
    @return map-get(map-get($colors, $color), $tone);
}

// Vertical spacing between elements.
$vspace: 1rem;

