@import 'variables';

.welcome {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5%;

    &-message {
        @media screen and (min-width: $screen-md-min) {
            box-sizing: border-box;
            padding: $vmargin $vmargin $vmargin 0;
        } 
    }
}

.session {
    padding: 6rem 0 3rem;
}

.no-session {
    // Pleasent greeter background.
    background: center/cover no-repeat image-url('background-2.jpg');
    min-height: 100vh;
}
