@import 'variables';

//
// Defaults.
//

h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin: 0;
  padding: 0;
}

a {
  color: palette(blue);

  &:not(:hover) {
    text-decoration: none;
  }
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
}

body {
  // Die, margin, die.
  margin: 0;
}

input, textarea {
  // Reset and override all button styles, even on iOS.
  border: 0;
  outline: 0;
   -webkit-appearance: none;
}

.actionbar {
  background: palette(grey, x-light);
  box-shadow: 0px 3px 0px 1px rgba(palette(grey, x-dark), 0.3);
  left: 0;
  // position: fixed;
  right: 0;
  top: 0;
}
