@import 'variables';

html {
  color: palette(text);
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

body {
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: palette(solid);

  &:not(:hover) {
    text-decoration: none;
  }
}
