@import 'variables';

.display {
  &--block {
    display: block;
    width: 100%;
  }

  &--inline-block {
    display: inline-block;
  }

  &--inline {
    display: inline;
  }

  &--none {
    display: none;
  }

  &--flex {
    display: flex;
  }
}

.vmargin {
  &--full {
    margin-bottom: $vmargin;
  }

  &--half {
    margin-bottom: $vmargin * 0.5;
  }

  &--quarter {
    margin-bottom: $vmargin * 0.25;
  }
}


.text {
  &--light {
    font-weight: normal;
  }

  &--bold {
    font-weight: bold;
  }

  &--small {
    font-size: 75%;
  }

  &--error {
    // For warnings.
    color: red;
  }
}

.clearfix {
  overflow: auto; 

  :after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
}

.float {
  &--left {
    float: left;
  }

  &--right {
    float: right;
  }
}

.border { 
  border: solid 0.2rem #ddd;

  &--thick {
    border: solid 0.3rem #ddd;
  }

  &--thin {
    border: solid 0.1rem #ddd;
  }
}

.rounded {
  border-radius: 0.4rem;
}

.vcenter {
  @media screen and (min-width: 768px) {
    left: 50%;
    min-width: 40%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -25%);
  }
}
