.actionbar {
  background: #fff;
  border-bottom: solid 0.1rem #ddd;
  box-sizing: border-box;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;

  &__list {
    list-style-type: none;
    margin: 0.5rem 0;
  }

  &__item {
    display: inline-block;

    &:not([class*="__avatar"]) {
      // Increase the line-height of non-avatar actionbar items.
      // This is a dirty hack versus a proper flexbox layout - but it works.
      line-height: 40px;
    }
  }

  &__brandname {
    font-size: 2.1rem;
  }

  &__avatar {
    a {
      display: block;
      height: 100%;
    }
  }

  &__logout {
    margin-right: 1rem;
  }
}
