@import 'variables';

.tweets {
  margin: 0 auto;
  max-width: 768px;

  @media screen and (max-width: 768px) {
    box-sizing: border-box;
    margin: 5%;
  }
}

.tweet {
  box-sizing: border-box;
  padding: 1rem;

  &:not(:first-child) {
    border-top: solid 0.1rem #ddd;
  }

  &:hover {
    background-color: #f7f7f7;
  }

  &__photo {
    width: 50px;
  }

  &__wrap {
    // Wraps rightside content.
    width: calc(100% - 50px - #{$vmargin})
  }

  &__datetime {
    padding-left: 0.1rem;

    &:before {
      // ' ·'
      // content: '\0020\00B7';
    }
  }
}

.broadcast {
  background: palette(solid);
  box-sizing: border-box;
  padding: 1rem;
}

.adorable-avatar {
  border-radius: 50%;
}
