@import 'variables';

.tweets {
  background: #fff;
  margin: 0 auto;
  max-width: 768px;

  @media screen and (max-width: 768px) {
    box-sizing: border-box;
    margin: 5%;
  }
}

.tweet {
  box-sizing: border-box;
  padding: 1rem;

  &:not(:first-child) {
    border-top: solid 0.1rem #ddd;
  }

  &:hover {
    background-color: #f7f7f7;
  }

  &__photo {
    width: 50px;
  }

  &__body {
    width: calc(100% - 50px - #{$vmargin})
  }

  &__datetime {
    padding-left: 0.1rem;

    &:before {
      // ' ·'
      content: '\0020\00B7';
    }
  }

  &__profile-link {
    color: #000;
  }
}

.broadcast {
  background: #ebf4fb;
  border-bottom: solid 0.1rem #ddd;
  box-sizing: border-box;
  padding: 1rem;
}
