@import 'variables';

.welcome {
  box-sizing: border-box;
  padding: 5%;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;

  @media screen and (min-width: 768px) {
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translate(-50%, -25%);
  }

  &__form {
    background: #fff;
    padding: 1rem;
  }

  &__forms {
    @media screen and (min-width: 768px) {
      width: 40%;
    } 

    @media screen and (max-width: 768px) {
      float: none !important;
    }
  }

  &__greeting {
    box-sizing: border-box;
    color: #fff;
    padding: $vmargin;
    padding-right: 0;

    @media screen and (min-width: 768px) {
      width: calc(60% - #{$vmargin});
    } 

    @media screen and (max-width: 768px) {
      float: none !important;
    }
  }
}
