<nav class="actionbar">
  <% if current_user_session %>
    <div class="actionbar__user">
      <%= content_tag :span, current_user.nicename.gsub(/\s.*/, ''), class: 'actionbar__username' %></span>
    </div>
    <%= adorable_avatar(current_user, 20) %>
    <%= link_to 'profile', user_path(current_user.id) %>
    <%-# Question: What is the programmatic way to get the destory session link from here? %>
    <%= link_to 'logout', '/logout', method: :delete %>
  <% else %>
    <%-# Not logged in stuff here. %>
  <% end %>
</nav>
