<nav class="actionbar clearfix" id="actionbar">
  <ul class="actionbar__list">
    <li class="actionbar__brand actionbar__item">
      <%= content_tag :span, link_to('nttr', root_url), class: 'actionbar__brandname' %>
    </li>
    <li class="actionbar__avatar actionbar__item float--right">
      <%= adorable_avatar(current_user, 40) %>
    </li>
    <li class="actionbar__logout actionbar__item float--right">
      <%-# Question: What is the programmatic way to get the destory session link from here? %>
      <%= link_to 'logout', '/logout', method: :delete %>
    </li>
  </ul>
</nav>
